<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melhor Idade SA</title>
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
 <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Melhor Idade SA</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand logo-misa" href="#" title="Melhor Idade SA">Melhor Idade SA</a>
      </div>
        
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a id="home" href="/">HOME</a></li>
          <li><a id="o-quemsomos" href="/quemsomos">QUEM SOMOS</a></li>
          <li><a id="#" href="/inscricoes">INSCREÇÕES</a></li>
          <li><a id="contato" href="/contato">CONTATO</a></li>      
        </ul>         
      </div>      
    </div>
  </nav><!--/.nav-final --> 



<div class="jumbotron banner-fix">


</div>


<div class="container quemsomos">
<div class="row">
  <div class="col-lg-12">
  

<form class="form-horizontal">

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
      <input type="nome" class="form-control" id="inputEmail3" placeholder="nome">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Assumnto</label>
    <div class="col-sm-10">
      <input type="assumnto" class="form-control" id="inputAssumnto3" placeholder="assumnto">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">mensagem</label>
    <div class="col-sm-10">
  <textarea name="mensagem" cols="40" rows="5" class="form-control"  aria-invalid="false" placeholder="mensagem"></textarea>

    </div>
  </div>





  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Enviar</button>
    </div>
  </div>
</form>


  </div>
</div>
</div>




<div class="container">
      <!-- FOOTER -->
      <footer>
        <p>© copyright 2017 by melhor idade s.a | todos os direitos reservados <a href="admin/index.html">ADM</a> · </p>
      </footer>
</div>


   
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
   

    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="assets/js/app.min.js"></script>

  </body>
</html>