<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MelhorIdadeSA - ADMIN</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>


<div class="container">
  <div class="row">
  <div class="col-lg-2"></div>
    <div class="col-lg-8">

    <img src="../assets/img/logo-melhor-idade.png" class="center-block" alt="">

      <form class="form-signin">
        <h2 class="titulo text-center">Melhor Idade S.a</h2>
        <h2 class="form-signin-heading titulo text-center">Entrar</h2>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input id="inputEmail" class="form-control" placeholder="Usuario" required>
        <br />
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <div class="checkbox">

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">entrar</button>
      </form>
      </div>
  </div>
</div> <!-- /container -->







   
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
   

    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="assets/js/app.min.js"></script>

  </body>
</html>