<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MelhorIdadeSA - ADMIN</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Melhor Idade SA</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand logo-misa" href="#" title="Melhor Idade SA">Melhor Idade SA</a>
      </div>
        
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a id="o-quemsomos" href="/admin/quemsomos">QUEM SOMOS</a></li>
          <li><a id="#" href="/admin/inscricoes">INSCREÇÕES</a></li> 
          <li><a id="#" href="/admin/noticias">NOTICIAS</a></li>   
        </ul> 

        <ul class="nav navbar-nav navbar-right">
          <li><a id="home" href="/admin" style="color:red;">SAIR</a></li>
        </ul>          
      </div>       
    </div>
  </nav><!--/.nav-final -->
<div class="container"></div>

<div class="container adminquemsomos">
  <div class="row">
  <div class="col-lg-2"></div>
    <div class="col-lg-8">

    <form style=" margin-top:100px;">

      <center>
      SEJA BEM VINDO AO ADMIN DO MELHOR IDADE SA
      </center>

    </form>

      </div>
  </div>
</div> <!-- /container -->

   
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/app.min.js"></script>

  </body>
</html>